{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div style="text-align:center">
      <h2>Contacter-nous</h2>
   
    </div>
    <div class="row">
      <div class="column">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3934.6217483251344!2d-13.665476985209517!3d9.541553293166361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xf1cd6cb16ee1f5f%3A0x2f420167bcf591bd!2sMadina+Dispensaire!5e0!3m2!1sfr!2sfr!4v1543486928381" width="530" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
       
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="australia">Guinee</option>
            <option value="canada">Sierra-leone</option>
            <option value="usa">senegal</option>
          </select>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Envoyer">
        </form>
      </div>
    </div>
  </div>
{% endblock %}